h1 {
    text-align: center;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 50px;
    color: #FF7F50;
}

#query {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: none;
}

#searchAgain {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#subreddits {
    text-align: center;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color:  #2F4F4F;
}

#main_items {
    padding-top: 150px;
}

#enter_query_text {
    padding-left: 305px;
    color:  #2F4F4F;
}

html {
    background-color: #ADD8E6;
}
